html
{
	font-size: 16px;
}

table, th, tr, td
{
	border-collapse: collapse;
	border: 1px solid black;
}

td
{
	padding: 0.5rem;
}

/* Web UI sandbox */

/* HoverButton */

.HoverButton
{
	border: 1px solid transparent;
	background: transparent;
	color: black;
	padding: 0.5rem;
	margin: 0 auto;
	transition: 0.5s ease;
}

.HoverButton:hover
{
	border: 1px solid lightgray;
	background: lightyellow;
	color: darkgreen;
	transform: scale(1.05);
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* HoverButton1 */

.HoverButton1
{
	border: 1px solid transparent;
	background: transparent;
	color: black;
	padding: 0.5rem;
	margin: 0 auto;
	transition: 0.5s ease;
}

.HoverButton1:hover
{
	border: 1px solid lightgray;
	background: lightblue;
	color: darkred;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* HoverButton2 */

.HoverButton2
{
	border: 1px solid transparent;
	background: transparent;
	color: black;
	padding: 0.5rem;
	margin: 0 auto;
	transition: 0.5s ease;
}

.HoverButton2:hover
{
	border: 1px solid lightgray;
	background: lightyellow;
	color: black;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* HoverButton3 */

.HoverButton3
{
	border: 1px solid transparent;
	background: transparent;
	color: gray;
	padding: 0.5rem;
	margin: 0 auto;
	transition: 0.5s ease;
}

.HoverButton3:hover
{
	border: 1px solid lightgray;
	background: lightyellow;
	color: black;
}

/* HoverButton4 */

.HoverButton4
{
	border: 1px solid lightgray;
	background: transparent;
	color: black;
	padding: 0.5rem;
	margin: 0 auto;
	transition: 0.5s ease;
}

.HoverButton4:hover
{
	background: lightyellow;
}